hr.center {
    /* display: flex;
    justify-content: space-around; */
    color: var(--bg-secondary);
    text-align: center;
    width: 50%;
}

.main-content {
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
	background: #F3F5F6;
    padding: 15px;
    overflow: auto;
    border-radius: 5px;
}
