<div class="jumbotron">
	<h2>Identify</h2>
	<p>
		Please make sure that the bird is clearly visible and is the focus of the image.
		<br>
		We recommend that the image is no larger than 1000x1000 pixels.
	</p>
	<div class="row justify-content-center">
		<div class="col-md-6 my-5">
			<div class="file-selector text-center">
				<h3>Select Image</h3>
				<input type="file" class="file-input" accept=".png,.jpg,.jpeg" (change)="onFileSelected($event)" />
			</div>
			<div>
				<!-- TODO- ensure that whichever was caused by the most recent action is the only visible one. -->
				<p class="danger text-center" *ngIf="(selectedFile != null && !validFile) && error == null">Incorrect filetype. Please select a PNG or JPEG.</p>
				<p class="ready text-center" *ngIf="(selectedFile != null && validFile) && error == null">Your file is ready for upload.</p>
				<p class="danger text-center" *ngIf="error != null">There was an error: "{{error}}". Please try again later.</p>
				
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6" [hidden]="!img || !validFile">
			<img src="{{img}}" alt="Uploaded image" class="img-fluid">
		</div>
	</div>
	<div class="row justify-content-center mt-5">
		<button type="button" class="btn" name="uploadbutton" (click)="onUpload()"
			[disabled]="(selectedFile == null || !validFile)">Identify</button>
	</div>
</div>