.file-selector {
	max-width: 100%;
	background-color: var(--bg-primary);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 var(--bg-secondary);
	color:white;
}

.danger {
	color: #A64253;
	background-color: #F8D2D9;
	border-color:#A64253;
	border-width: 2px;
	/* border-radius: 5px; */
	margin-top:3px;
}

.ready {
	color: #489720;
	background-color: #CEF1BC;
	border-color:#489720;
	border-width: 2px;
	/* border-radius: 5px; */
	margin-top:3px;
}

h3 {
	border: 1px dashed;
	padding: 5px;
}