/* Primary Color Palette */
:root {
    /* Main Colors */
    --bg-primary: #2B59C3;
    --bg-secondary: #253C78;
    --bg-accent: #131F3E;

    /* Highlight Colors */
    --hl-primary: #F2D418;
    --hl-secondary: #EBA00A;

    /* Text Colors */
}

body {
    font-family: 'Cabin', sans-serif;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav {
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C8CBCC, #687C8D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C8CBCC, #687C8D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-light-theme {
    display: block;
	/* width: 140px;
	height: 40px; */
	background: var(--bg-primary);
	color: whitesmoke;
	border: 0;
	transition: all 0.3s ease-in-out;
	/* font-size: 14px; */
}

.btn {
    display: block;
    text-align: center;
	width: 140px;
	height: 40px;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
	border: none;
    
    border-radius: 6px;
    margin: 10px;
    /* padding: 1em 3em;() */
    background-size: 200% auto;
    color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
    transition: 0.5s;
  }  

  .btn:hover {
		background-position: right center;
		color: white;
  }


/* .btn {
	display: block;
	width: 140px;
	height: 40px;
	background: var(--hl-primary);
	color: black;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 var(--hl-secondary);
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

.btn:hover {
    color: white;
	background: var(--hl-secondary);
	box-shadow: 0 3px 0 0 var(--hl-primary);
}

.btn:disabled
{
	color: black;
	background: #F9EA8B;
	box-shadow: 0 3px 0 0 #9B9989;
	cursor:not-allowed;
} */
