<div class="banner bg-warning w-100 p-5">
    <div class="container text-center">
        <h1 class="display-5 fw-bold">Under Construction!</h1>
        <p>Currently, Bird Identifier's ML algorithm has been trained to identify 400 different bird species. An unfortunate side effect of the algorithm's training is that it cannot differentiate between birds and other objects. I discovered this when I uploaded an image of myself and it told me what bird it thought I was, instead of rejecting the image.</p>
        <p>Eventually a second ML algorithm will be added that will analyze images before bird identification takes place, and reject images that aren't birds. However, users will still be able to upload photos of themselves here and see what kind of bird the AI thinks that they are!</p>
        <p>In the meantime you can upload images of yourself on the homepage and see what type of bird you are. Have fun!</p>
    </div>
</div>
