.footer {
	display: block;
	background: var(--bg-accent);
	color: white;
	border: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: 5px var(--bg-secondary);
	background-color: var(--bg-accent);
}

h3 {
	font-size: 36px;
	font-weight: 700;
	position: relative;
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0 0 15px 0;
}

p {
	font-size: 15;
	padding: 0;
	margin: 0 0 40px 0;
}

.social-links {
	margin: 0 0 40px 0;
}

.social-links a {
	font-size: 18px;
	display: inline-block;
	background: #0563bb;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

.social-links a:hover {
	background: #0678e3;
	color: #fff;
	text-decoration: none;
}

.copyright {
	margin: 0 0 5px 0;
}

.blurb a:link {
	color: white;
	text-decoration: none;
}

.blurb a:visited {
	color: gray;
}

.blurb a:active {
	color: var(--hl-primary)
}