<footer class="footer">
    <div class="container">
      <h3>Adam Applegate</h3>
      <div class="social-links">
            <a href="https://adamgate.github.io" target="_blank" title="Check out my portfolio"><i class="bx bx-user-circle"></i></a>
            <a href="https://www.linkedin.com/in/adam-applegate" target="_blank" title="Visit my LinkedIn"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/adamgate" target="_blank" title="Visit my Github"><i class="bx bxl-github"></i></a>
      </div>
      <div class="blurb">
        <p>Want to learn about how this web app was made? Click <a href="https://adamgate.github.io#portfolio" target="_blank">here</a>!</p>
    </div>
      <div class="copyright">
        &copy; Copyright {{currentYear | date:'yyyy'}} <strong><span>Adam Applegate</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
