<div>
    <div class="alert alert-primary mt-2 text-center" [hidden]="!(connectionStatus === connectionState.connecting)">
        Connecting to the server. Please wait...
    </div>

    <div class="alert alert-danger mt-2 text-center" [hidden]="!(connectionStatus === connectionState.failed)">
        There was an issue connecting to the server. Please try again later.
    </div>

    <!-- <div class="alert alert-success mt-2 text-center" [hidden]="!(connectionStatus === connectionState.connected)">
        Successfully connected to the server.
    </div> -->
</div>