<div class="banner w-100 p-3 mb-2">
    <div class="container text-center py-4">
        <h1 class="display-4 fw-bold mb-3">Welcome to Bird Identifier</h1>
        <p class="lead mb-2">Upload an image below and let the "advanced" machine learning model identify the bird species for you!</p>
    </div>
</div>

<div class="container">
  <app-connection-alert></app-connection-alert>

  <div class="main-content mb-5" *ngIf="!prediction">
    <div class="row align-items-center">
      <div class="col">
        <app-image-upload (latestPrediction)="updatePrediction($event)"></app-image-upload>
      </div>
    </div>
  </div>

  <div class="mb-5" *ngIf="prediction">
    <app-prediction-item [prediction]="prediction" (tryAgain)="resetPrediction()"></app-prediction-item>
  </div>

</div>
