<footer class="footer">
    <div class="container py-4">
      <div class="footer-content">
        <div class="social-links mb-4">
          <a href="https://adamgate.github.io" target="_blank" title="Check out my portfolio" class="social-link">
            <i class="bx bx-user-circle"></i>
          </a>
          <a href="https://www.linkedin.com/in/adam-applegate" target="_blank" title="Visit my LinkedIn" class="social-link">
            <i class="bx bxl-linkedin"></i>
          </a>
          <a href="https://github.com/adamgate" target="_blank" title="Visit my Github" class="social-link">
            <i class="bx bxl-github"></i>
          </a>
        </div>

        <div class="footer-bottom">
          <p class="copyright mb-0">
            © {{currentYear | date:'yyyy'}} <strong>Adam Applegate</strong>. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
</footer>
